/* основний колір заголовків 2-3 рівня #212121;  */
/* основний колір тексту  #757575;*/
/* акцент #2196f3; */

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --main-tittle-text-color: #ffffff;
  --typical-margin: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------------header---------------------- */
.header {
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: var(--primary-text-color) solid 1px;
  background: #ffffff;
}

/* ----------------------логотип---------------------- */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-accent-header {
  color: #000000;
}

/* ----------------------------header--меню сторінки ------------------*/
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link {
  position: relative;
}

.nav__link.current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}
/*---------------header--- телефон,ел.пошта ------------*/
.header .container {
  display: flex;
  align-items: center;
}
.header-contact__list {
  display: flex;
  margin-left: auto;
}

.header-contact__list .header-contact__item + .header-contact__item {
  margin-left: 50px;
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}
.header-contact__icon {
  margin-right: 10px;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  fill: currentColor;
}

/*----------- Перша секція-HERO-ЭФФЕКТИВНЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО БИЗНЕСА---------*/
.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  max-height: 600px;

  background: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
}

.hero__title {
  margin-bottom: var(--typical-margin);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);
}
.btn {
  display: flex;
  align-items: center;

  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-tittle-text-color);
  background-color: var(--accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn {
  padding: 10px 32px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  background-color: #188ce8;
}
/* ------------------------------MODAL--------------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.modal__icon-btn {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-btn:focus,
.modal__icon-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.modal__title {
  margin-bottom: 12px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.modal__field {
  margin-bottom: 10px;
}
.input__wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;

  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:hover {
  border-color: var(--accent-color);
}

.modal__text {
  padding: 12px 16px;

  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  resize: none;

  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text:focus,
.modal__text:hover {
  border-color: var(--accent-color);
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
  display: block;
}

.modal__field {
  margin-bottom: 10px;
}

.check__text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal__check:checked + .modal__check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/vector.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check:focus + .modal__check-text::before {
  border-color: var(--accent-color);
}
.modal__check-text {
  display: flex;
  align-items: center;
  position: relative;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal__check-link {
  margin-left: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal__btn {
  padding: 10px 55px;
}

/*---------------Переваги-advantage------------------ */
.advantage {
  text-align: left;
  padding-top: 94px;
  padding-bottom: 47px;

  background-color: #ffffff;
}

.advantage__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage__list .advantage__item + .advantage__item {
  margin-left: var(--typical-margin);
}

.advantage__item {
  max-width: 270px;
  min-height: 251px;
}

.advantage__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* --------------------advantage-icon------------- */
.advantage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

/*------------------------work--Чем мы занимаемся----------------------- */
.work {
  padding-bottom: 94px;
  padding-top: 47px;
}
.work__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__list .work__item + .work__item {
  margin-left: var(--typical-margin);
}

.work__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.work__img {
  position: relative;
}

.work__top-text {
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;

  padding: 27px 82px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*-------------------Наша команда-team------------------ */
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__top-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card__item + .card__item {
  margin-left: var(--typical-margin);
}
.card__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.card__text {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.card__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* ----------Іконки соцмереж команди------- */

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials .socials__item + .socials__item {
  margin-left: 10px;
}

.socials__icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}
/*   акцент соцмереж*/
.socials__link:hover .card__icon,
.socials__link:focus .card__icon {
  fill: #ffffff;
}

.card__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------Секція Клієнти ---------------*/
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.client__list {
  display: flex;
  justify-content: center;
}
.client__list .client__item + .client__item {
  margin-left: var(--typical-margin);
}
.client__item {
  width: 170px;
  height: 92px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}
/*----------------------footer--------------------- */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  align-items: baseline;
  display: flex;
}
.footer__contact-box {
  margin-right: 70px;
}
/*------------------------------логотип-футер----------------------------- */
.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__accent-logo {
  color: #ffffff;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-tittle-text-color);
  margin-bottom: 9px;
}
.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);
}
.footer__list {
  display: block;
}
.footer__list .footer__item + .footer__item {
  margin-top: 9px;
}
.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);
}
/*-------- Іконки футера----- */
.footer__socials {
  margin-right: 70px;
}
.footer__icon {
  fill: #ffffff;
}
.footer__link {
  background: rgba(255, 255, 255, 0.1);
}

/* ----------------------------Підписка на розсилку------------- */
.subscribe__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);
}
.subscribe {
  margin-left: auto;
}
.subscribe__form {
  display: flex;
  align-items: center;
}
.subscribe__input {
  /* display: block; */
  margin-right: 12px;

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:hover,
.subscribe__input:focus {
  border-color: var(--accent-color);
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  padding: 10px 28px;
  position: relative;
}

.subscribe__icon {
  position: absolute;
  left: 148px;
  top: 50%;
  transform: translateY(-50%);
}
/*----------------------Сторінка 2 Портфолио- gallery--------------------- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list .menu__item + .menu__item {
  margin-left: 8px;
}
.menu__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover,
.menu__btn:focus {
  background: var(--accent-color);
  color: var(--main-tittle-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  margin-bottom: 4px;
}
.gallery__text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* .gallery .gallary__link {
  text-decoration: none;
} */

.gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--typical-margin));
  margin-top: calc(-1 * var(--typical-margin));
}

.gallery__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--typical-margin);
  margin-top: var(--typical-margin);
}
.gallery__box {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ---------------Animation gallary -------------------*/
.gallery__link:hover .gallery__top-text {
  transform: translateY(0);
}

.gallery__img {
  position: relative;
  overflow: hidden;
}

.gallery__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-tittle-text-color);
}
